.loader-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    display: none;
}
.loader-container.active {
    display: block;
}
.display {
    background-color: #ff9800;
    display: inline-block;
}
.loader{
    -webkit-animation:auxiliary-indeterminate-translate 2s infinite linear;
    animation:auxiliary-indeterminate-translate 2s infinite linear;
    visibility:visible;
    height:auto;
}

.display{
    -webkit-animation:auxiliary-indeterminate-scale 2s infinite linear;
    animation:auxiliary-indeterminate-scale 2s infinite linear;
    height: 5px;
    width: 75%;
}
@keyframes auxiliary-indeterminate-scale{
    0%{
        -webkit-animation-timing-function:cubic-bezier(.205028,.057051,.576610,.453971);
        animation-timing-function:cubic-bezier(.205028,.057051,.576610,.453971);
        -webkit-transform:scaleX(.08);
        transform:scaleX(.08)
    }
    19.15%{
        -webkit-animation-timing-function:cubic-bezier(.152313,.196432,.648374,1.004315);
        animation-timing-function:cubic-bezier(.152313,.196432,.648374,1.004315);
        -webkit-transform:scaleX(.457104);
        transform:scaleX(.457104)
    }
    44.15%{
        -webkit-animation-timing-function:cubic-bezier(.257759,.003163,.211762,1.381790);
        animation-timing-function:cubic-bezier(.257759,.003163,.211762,1.381790);
        -webkit-transform:scaleX(.727960);
        transform:scaleX(.727960)
    }
    to{
        -webkit-transform:scaleX(.08);
        transform:scaleX(.08)
    }
}
@-webkit-keyframes auxiliary-indeterminate-scale{
    0%{
        -webkit-animation-timing-function:cubic-bezier(.205028,.057051,.576610,.453971);
        animation-timing-function:cubic-bezier(.205028,.057051,.576610,.453971);
        -webkit-transform:scaleX(.08);
        transform:scaleX(.08)
    }
    19.15%{
        -webkit-animation-timing-function:cubic-bezier(.152313,.196432,.648374,1.004315);
        animation-timing-function:cubic-bezier(.152313,.196432,.648374,1.004315);
        -webkit-transform:scaleX(.457104);
        transform:scaleX(.457104)
    }
    44.15%{
        -webkit-animation-timing-function:cubic-bezier(.257759,.003163,.211762,1.381790);
        animation-timing-function:cubic-bezier(.257759,.003163,.211762,1.381790);
        -webkit-transform:scaleX(.727960);
        transform:scaleX(.727960)
    }
    to{
        -webkit-transform:scaleX(.08);
        transform:scaleX(.08)
    }
}

@keyframes auxiliary-indeterminate-translate{
    0%{
        -webkit-animation-timing-function:cubic-bezier(.15,0,.515058,.409685);
        animation-timing-function:cubic-bezier(.15,0,.515058,.409685);
        -webkit-transform:translateX(-54.888891%);
        transform:translateX(-54.888891%)
    }
    25%{
        -webkit-animation-timing-function:cubic-bezier(.310330,.284058,.8,.733712);
        animation-timing-function:cubic-bezier(.310330,.284058,.8,.733712);
        -webkit-transform:translateX(-17.236978%);
        transform:translateX(-17.236978%)
    }
    48.35%{
        -webkit-animation-timing-function:cubic-bezier(.4,.627035,.6,.902026);
        animation-timing-function:cubic-bezier(.4,.627035,.6,.902026);
        -webkit-transform:translateX(29.497274%);
        transform:translateX(29.497274%)
    }
    to{
        -webkit-transform:translateX(105.388891%);
        transform:translateX(105.388891%)
    }
}
@-webkit-keyframes auxiliary-indeterminate-translate{
    0%{
        -webkit-animation-timing-function:cubic-bezier(.15,0,.515058,.409685);
        animation-timing-function:cubic-bezier(.15,0,.515058,.409685);
        -webkit-transform:translateX(-54.888891%);
        transform:translateX(-54.888891%)
    }
    25%{
        -webkit-animation-timing-function:cubic-bezier(.310330,.284058,.8,.733712);
        animation-timing-function:cubic-bezier(.310330,.284058,.8,.733712);
        -webkit-transform:translateX(-17.236978%);
        transform:translateX(-17.236978%)
    }
    48.35%{
        -webkit-animation-timing-function:cubic-bezier(.4,.627035,.6,.902026);
        animation-timing-function:cubic-bezier(.4,.627035,.6,.902026);
        -webkit-transform:translateX(29.497274%);
        transform:translateX(29.497274%)
    }
    to{
        -webkit-transform:translateX(105.388891%);
        transform:translateX(105.388891%)
    }
}


.preloaderbar {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    margin-bottom: -4px;
}

    .preloaderbar .bar {
        position: absolute;
        width: 100%;
        height: 0;
        text-indent: -9999px;
        background-color: #23b7e5;
        z-index: 10000000000000000000000;
        left:0;
    }

        .preloaderbar .bar:before {
            position: absolute;
            right: 50%;
            left: 50%;
            height: 4px;
            background-color: inherit;
            content: "";
        }

    .preloaderbar.active {
        -webkit-animation: changebar 2.25s infinite 0.75s;
        -moz-animation: changebar 2.25s infinite 0.75s;
        animation: changebar 2.25s infinite 0.75s;
    }

        .preloaderbar.active .bar {
            -webkit-animation: changebar 2.25s infinite;
            -moz-animation: changebar 2.25s infinite;
            animation: changebar 2.25s infinite;
        }

            .preloaderbar.active .bar:before {
                -webkit-animation: movingbar 0.75s infinite;
                -moz-animation: movingbar 0.75s infinite;
                animation: movingbar 0.75s infinite;
            }

@-webkit-keyframes movingbar {
    0% {
        right: 50%;
        left: 50%;
    }

    99.9% {
        right: 0;
        left: 0;
    }

    100% {
        right: 50%;
        left: 50%;
    }
}

@-moz-keyframes movingbar {
    0% {
        right: 50%;
        left: 50%;
    }

    99.9% {
        right: 0;
        left: 0;
    }

    100% {
        right: 50%;
        left: 50%;
    }
}

@keyframes movingbar {
    0% {
        right: 50%;
        left: 50%;
    }

    99.9% {
        right: 0;
        left: 0;
    }

    100% {
        right: 50%;
        left: 50%;
    }
}

@-webkit-keyframes changebar {
    0% {
        background-color: #8BC34A;
    }

    33.3% {
        background-color: #8BC34A;
    }

    33.33% {
        background-color: #FFCA28;
    }

    66.6% {
        background-color: #FFCA28;
    }

    66.66% {
        background-color: #F44336;
    }

    99.9% {
        background-color: #F44336;
    }
}

@-moz-keyframes changebar {
    0% {
        background-color: #8BC34A;
    }

    33.3% {
        background-color: #8BC34A;
    }

    33.33% {
        background-color: #FFCA28;
    }

    66.6% {
        background-color: #FFCA28;
    }

    66.66% {
        background-color: #F44336;
    }

    99.9% {
        background-color: #F44336;
    }
}

@keyframes changebar {
    0% {
        background-color: #8BC34A;
    }

    33.3% {
        background-color: #8BC34A;
    }

    33.33% {
        background-color: #FFCA28;
    }

    66.6% {
        background-color: #FFCA28;
    }

    66.66% {
        background-color: #F44336;
    }

    99.9% {
        background-color: #F44336;
    }
}

.fix {
    position: fixed;
}

.rel {
    position:relative;
}